html, body {
    height: 100%; /* Ensure the body and html elements cover the entire viewport height */
    margin: 0;
    padding: 0;
}

body {
	/* background-image: url("./assets/pokemonforest.jpg");  */
	background-position: center;
    background-size: cover; /* Ensure the image covers the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Fix the background while scrolling */
	
	font-family: Arial, sans-serif;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh; 
	margin: 0;
	padding: 0;
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-image: url('./assets/oceanBackground.jpg'); */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure it's behind all elements */
}


@font-face {
	font-family: "PokemonFont";
	src: url("./fonts/PokemonSolid.ttf") format("truetype");
    font-weight:bold;
    font-style: normal;
}

#title {
    font-family: "PokemonFont", Arial, sans-serif;
    color: #ffcb05; /* Pokémon yellow */
    font-size: 5em; /* Adjusted to a slightly smaller size for balance */
    letter-spacing: 0.7vh; /* Increased letter spacing for a bold look */
    margin-bottom: 1vh;
	
    text-shadow: 3px 3px 0px #3b4cca, /* Blue shadow */
                 6px 6px 0px #2a2a2a; /* Darker shadow for a 3D effect */
    text-transform: uppercase; /* Makes the heading all uppercase */
	
}


#gameMenu {
	font-size: 3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

#highScoreDisplay {
	display: flex;
	justify-content: space-between;
	align-items: center; /* Centers items vertically */
	width: 100%;
	max-width: 600px;
	margin-bottom: 3vh;
	margin-top: 4vh;
	font-family: "PokemonFont", Arial, sans-serif;
	font-size: 1em; /* Slightly larger for readability */
	color: #ffcb05; /* Pokémon yellow for text */
	letter-spacing: 0.1em; /* Add some letter spacing for style */
	background-color: #3b4cca; /* Pokémon blue background */
	border: 3px solid #ffcb05; /* Pokémon yellow border */
	border-radius: 10px; /* Slightly rounded corners */
	padding: 10px; /* Adds padding around the content */
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Adds shadow for depth */
}

#gameControlButtons button {
	
	background-image: url('./assets/pokeball.png'); /* Pokéball image as background */
	background-size: cover; /* Ensure the image covers the button */
	background-position: center; /* Center the image within the button */
	background-repeat: no-repeat; /* Prevent the image from repeating */
	
	color: white;
	font-family: 'PokemonFont', Arial, sans-serif; /* Custom font for Pokémon theme */
	font-size: 1.5vh; /* Font size */
	width: 100px; /* Set width */
	height: 100px; /* Set height (same as width for a circle) */
	padding: 0; /* Remove padding */
	border-radius: 50%; /* Make the button circular */
	cursor: pointer;
	margin-top: .5vh;
	
	letter-spacing: 0.3vh; /* Letter spacing */
	text-align: center; /* Center text horizontally */
	display: flex; /* Flexbox for centering content */
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
}

#gameControlButtons button:hover {
    transform: translateY(-2px); /* Makes button rise when hovered */
}

#gameControlButtons button:active {
    transform: translateY(2px); /* Lowers the button on click */
}

#gameRunningInfo {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	
	margin-left: 3vh;
	margin-right: 3vh;
	font-size: 1em;
}



#themeToggler {
    position: fixed;  /* Keeps the button in a fixed position */
    bottom: 1vw;     /* Distance from the bottom of the screen */
    left: 2vw;       /* Distance from the left side of the screen */
    padding: 5px 10px;  /* Adjust the padding for a nicer look */
    font-family: "PokemonFont", Arial, sans-serif;
	font-size: 1em; /* Slightly larger for readability */
	color: #ffcb05; /* Pokémon yellow for text */
	letter-spacing: 0.1em; /* Add some letter spacing for style */
	background-color: #3b4cca; /* Pokémon blue background */
	border: 3px solid #ffcb05; /* Pokémon yellow border */
	border-radius: 10px; /* Slightly rounded corners */
	padding: 7px; /* Adds padding around the content */
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Adds shadow for depth */
}

#themeToggler:hover {
    transform: translateY(-2px); /* Makes button rise when hovered */
}

#themeToggler:active {
    transform: translateY(2px); /* Lowers the button on click */
}

@media (max-width: 800px) {
	#gameRunningInfo {
		font-size: 0.9em;
	}
	#highScoreDisplay {
		font-size: 3em;
	}
	#title {
		font-size: 3em;
	}
	#gameControlButtons button {
		font-size: 1em;
		width: 70px; /* Set width */
		height: 70px;
	}
	
	
}

@media (max-width: 400px) {
	#gameRunningInfo {
		font-size: 0.8em;
	}
	#highScoreDisplay {
		font-size: 3vh;
	}
	#title {
		font-size: 3em;
	}
	#gameControlButtons button {
		font-size: 1em;
	}
}

#gameplayArea {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2vw;
	width: 100%;
	max-width: 90%;
	max-height: 60vh; /* Restrict height to limit the moles to a certain part of the screen */
    
    position: relative;
}

.whackamoleSpawnArea {
	width: calc(20% - 10px);
	max-height: 20vh;
	max-width: 20vh;

}